.wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  box-sizing: border-box;
  z-index: 50;
  @include background-transform($less-light, translateX(0));

  &.off {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    z-index: 50;
    @include transform(translateX(-300px));

    &.night {
      @include transform(translateX(-300px));
    }
  }

  &.night {
    @include background-transform($more-dark, translateX(0));

    .inner_wrap {
      .user {
        &.log_in {
          .infos {
            > span {
              @include font($most-light);
            }
          }
        }
      }

      .menu {
        @include font($most-light);

        &:hover {
          background-color: $dark;
        }
      }
    }
  }

  .inner_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .visitor_count {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 15px 15px 0 15px;
      margin-bottom: 30px;
      @include font($most-dark);

      .toggle {
        display: flex;
        align-items: center;
        height: 100px;
        position: absolute;
        list-style: none;
        z-index: 50;
        top: calc(50% - 50px);
        right: -29px;
        font-size: 25px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-sizing: border-box;
        z-index: 50;
        cursor: pointer;
        @include background($less-light);

        svg {
          @include transform(rotate(180deg));
        }

        &.off {
          svg {
            @include transform(rotate(0deg));
          }
        }

        &.night {
          @include background($more-dark);
        }
      }

      &.night {
        @include font($most-light);
      }
    }

    .user {
      width: 100%;
      height: 160px;
      padding: 40px 15px 40px 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;

      &.log_in {
        justify-content: space-evenly;
        flex-direction: row;

        .avatar {
          width: 80px;
          height: 80px;
          box-sizing: border-box;

          > img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }

        .infos {
          display: flex;
          flex-direction: column;
          justify-content: center;

          > span {
            @include font($most-dark);
            font-size: 20px;
            font-weight: bold;
          }
        }
      }
    }

    .menu {
      width: 100%;
      padding: 15px 15px 15px 0;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      cursor: pointer;
      @include font($most-dark);

      .banner {
        width: 15px;
      }

      &:hover {
        background-color: $light;
      }

      .svg {
        box-sizing: border-box;
        margin-right: 15px;
      }

      .svg_ {
        box-sizing: border-box;
        margin-left: auto;
      }
    }
  }
}
