.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100% - 100px);
  @include background($more-light);

  .innerWrap {
    padding: 10% 20%;
    overflow: auto;

    .contentInfo {
      display: flex;
      align-items: center;
      justify-content: space-between;

      > span {
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        @include font($most-dark);

        :nth-child(1) {
          margin-right: 10px;
        }
      }
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      word-break: break-all;
      @include font($most-dark);
    }

    .content {
      overflow: auto;
      @include font($most-dark);

      :nth-child(n) {
        word-break: break-all;
      }

      > pre {
        white-space: pre-wrap;
        overflow: auto;
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    padding: 0 20%;

    .heart {
      display: flex;
      margin-bottom: 10px;
      align-items: center;
      width: 100%;

      > span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        @include font($most-dark);
      }

      :nth-child(1):hover {
        cursor: pointer;
      }
    }

    .crossBar {
      height: 1px;
      @include background($most-dark);
    }

    .commentBox {
      .comments {
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;

        .comment {
          display: flex;
          width: 100%;
          margin: 10px 0;

          &.padding {
            width: calc(100% - 30px);
            padding-left: 30px;
          }

          .photo {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            > span {
              display: flex;
              border-radius: 10px;
              @include background($less-light);
            }
          }

          .commentContents {
            display: flex;
            width: 100%;
            flex-direction: column;

            .topContents {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100%;

              .rightContents {
                cursor: pointer;
              }
            }
          }
        }
      }

      .createBox {
      }
    }
  }

  &.night {
    @include background($dark);

    .innerWrap {
      .contentInfo {
        > span {
          @include font($light);
        }
      }

      .title {
        color: $light;
      }

      .content {
        color: $light;
      }
    }

    .bottom {
      .heart {
        > span {
          @include font($light);
        }
      }

      .crossBar {
        @include background($most-light);
      }

      .commentBox {
        .comments {
          .comment {
            .photo {
              > span {
                @include background($less-dark);
              }
            }

            .commentContents {
              @include font($light);
            }
          }
        }
      }
    }
  }
}
