.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100% - 100px);
  @include background($more-light);

  .innerWrap {
    padding: 10% 20%;
    overflow: auto;

    .contentInfo {
      display: flex;
      align-items: center;
      justify-content: space-between;

      > span {
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        @include font($most-dark);

        :nth-child(1) {
          margin-right: 10px;
        }
      }
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      word-break: break-all;
      @include font($most-dark);
    }

    .content {
      overflow: auto;
      @include font($most-dark);

      :nth-child(n) {
        word-break: break-all;
      }

      > pre {
        white-space: pre-wrap;
        overflow: auto;
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    padding: 0 20%;

    .heart {
      display: flex;
      align-items: center;
      width: 100%;

      > span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        @include font($most-dark);
      }

      :nth-child(1):hover {
        cursor: pointer;
      }
    }
  }

  &.night {
    @include background($dark);

    .innerWrap {
      .contentInfo {
        > span {
          @include font($most-light);
        }
      }

      .title {
        color: $most-light;
      }

      .content {
        color: $most-light;
      }
    }

    .bottom {
      .heart {
        > span {
          @include font($most-light);
        }
      }
    }
  }
}
