.wrap {
  display: flex;
  width: 100%;
  min-height: calc(100% - 100px);
  @include background($more-light);

  .innerWrap {
    color: $most-dark;
    padding: 10% 10%;
    width: 80%;
    display: flex;

    > pre {
      width: 100%;
    }
  }

  .createUpdateBtn {
    width: 35px;
    height: 35px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    bottom: 120px;
    right: 30px;
    cursor: pointer;
    @include background($most-light);
  }

  &.night {
    @include background($dark);

    .innerWrap {
      color: $most-light;
    }

    .createUpdateBtn {
      @include background($most-dark);
    }
  }
}
