.wrap {
  display: flex;
  width: 100%;
  min-height: calc(100% - 100px);
  @include background($more-light);

  &.night {
    @include background($dark);

    .innerWrap {
      &.nothing {
        @include font($most-light);
      }
    }
  }

  .innerWrap {
    padding: 10% 10%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    // flex-flow: row wrap; /* 하위 두개의 모든 기능 제공 */
    flex-direction: row; /* 아이템 나열 방향 -> 수평 */
    flex-wrap: wrap; /* 아이템 width가 넘어갔을 경우 다음 라인으로 넘길지 말지 -> wrap: 넘김, nowrap: 안 넘김 */

    &.nothing {
      font-weight: bold;
      font-size: 2rem;
      justify-content: center;
      @include font($most-dark);
    }
  }
}
