.wrap {
  display: flex;
  height: 200px;
  width: 230px;
  padding: 20px 30px;
  margin: 10px;
  border-radius: 30px;
  box-sizing: border-box;
  cursor: move;
  @include background-boxShadow-transform($most-light, 'none', scale(1));

  .innerWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;

    .floatBtns {
      display: none;
      position: absolute;
      top: 0;
      right: 0;

      > span {
        margin-left: 5px;
        cursor: pointer;
      }
    }

    :nth-child(n) {
      margin: 0;
    }

    h3 {
      overflow: hidden;
      @include font($most-dark);
    }

    p {
      @include font($less-dark);
    }
  }

  &.night {
    background-color: $more-dark;

    h3 {
      color: $more-light;
    }

    p {
      color: rgb(150, 150, 150);
    }

    &.deleted {
      opacity: 0.5;
    }
  }

  &.deleted {
    opacity: 0.5;
  }
}

.wrap:hover {
  cursor: move;
  @include boxShadow-transform(4px 4px 2px 1px rgba(0, 0, 0, 0.2), scale(1.03));

  &.night {
    box-shadow: 4px 4px 2px 1px rgba(255, 255, 255, 0.2);
  }

  .innerWrap {
    .floatBtns {
      display: flex;
      align-items: center;
    }
  }
}
