.wrap {
  display: flex;
  height: 200px;
  width: 230px;
  padding: 20px 30px;
  margin: 10px;
  border-radius: 30px;
  box-sizing: border-box;
  transform: scale(1);
  box-shadow: none;
  background: #fff;
  transition: background-color 0.5s linear, transform 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
  -moz-transition: background-color 0.5s linear, transform 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s linear, transform 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
  -ms-transition: background-color 0.5s linear, transform 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
  -o-transition: background-color 0.5s linear, transform 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
  cursor: move;

  .innerWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;

    .floatBtns {
      display: none;
      position: absolute;
      top: 0;
      right: 0;

      > span {
        margin-left: 5px;
        cursor: pointer;
      }
    }

    :nth-child(n) {
      margin: 0;
    }

    h3 {
      color: #000;
      overflow: hidden;
      transition: color 0.5s ease-in-out;
      -moz-transition: color 0.5s linear;
      -webkit-transition: color 0.5s linear;
      -ms-transition: color 0.5s linear;
      -o-transition: color 0.5s linear;
    }

    p {
      color: rgb(56, 72, 93);
      transition: color 0.5s ease-in-out;
      -moz-transition: color 0.5s linear;
      -webkit-transition: color 0.5s linear;
      -ms-transition: color 0.5s linear;
      -o-transition: color 0.5s linear;
    }
  }

  &.night {
    transform: scale(1);
    box-shadow: none;
    background-color: rgb(25, 25, 25);
    transition: background-color 0.5s linear, transform 0.5s ease-in-out,
      box-shadow 0.5s ease-in-out;
    -moz-transition: background-color 0.5s linear, transform 0.5s ease-in-out,
      box-shadow 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s linear, transform 0.5s ease-in-out,
      box-shadow 0.5s ease-in-out;
    -ms-transition: background-color 0.5s linear, transform 0.5s ease-in-out,
      box-shadow 0.5s ease-in-out;
    -o-transition: background-color 0.5s linear, transform 0.5s ease-in-out,
      box-shadow 0.5s ease-in-out;

    h3 {
      color: #fff;
      transition: color 0.5s ease-in-out;
      -moz-transition: color 0.5s linear;
      -webkit-transition: color 0.5s linear;
      -ms-transition: color 0.5s linear;
      -o-transition: color 0.5s linear;
    }

    p {
      color: rgb(150, 150, 150);
      transition: color 0.5s ease-in-out;
      -moz-transition: color 0.5s linear;
      -webkit-transition: color 0.5s linear;
      -ms-transition: color 0.5s linear;
      -o-transition: color 0.5s linear;
    }

    &.deleted {
      opacity: 0.5;
    }
  }

  &.deleted {
    opacity: 0.5;
  }
}

.wrap:hover {
  cursor: move;
  /* 1.03배로 크기 키우기 */
  transform: scale(1.03);
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
  /* transform, box-shadow 속성 0.5s 속도로 변경 */
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

  &.night {
    box-shadow: 4px 4px 2px 1px rgba(255, 255, 255, 0.2);
  }

  .innerWrap {
    .floatBtns {
      display: flex;
      align-items: center;
    }
  }
}
