.wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 40;
  opacity: 0.95;
  @include background($light);

  &.night {
    opacity: 0.8;
    @include background($more-dark);

    .log {
      color: #fff;
    }

    .log:hover {
      background-color: $most-dark;
    }
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: space-around;

    > span:hover {
      cursor: pointer;
    }

    > span {
      margin-left: 20px;
    }

    .log {
      padding: 5px 10px;
      border-radius: 5px;
      @include font-background($most-dark, 'none');
    }

    .log:hover {
      @include background($more-light);
    }
  }
}
