.wrap {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include background($light);

  &.night {
    @include background($more-dark);

    .bottom {
      @include font($most-light);
    }
  }

  .top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;

    > div {
      display: flex;
      align-items: center;
      justify-content: space-around;

      > span:hover {
        cursor: pointer;
      }

      > span {
        margin-left: 20px;
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.7rem;
    font-weight: 100;
    @include font($more-dark);
  }

  > span:hover {
    cursor: pointer;
  }
}
