.wrap {
  width: 100%;
  height: calc(100% - 100px);
  @include background($more-light);

  &.night {
    @include background($dark);

    .innerWrap {
      .box {
        @include background($more-dark);

        > input:focus,
        button:hover {
          border: solid 1px rgb(125, 125, 125);
          @include boxShadow(4px 4px 2px 1px rgba(255, 255, 255, 0.2));
        }
      }
    }
  }

  .innerWrap {
    padding: 10% 10%;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    .box {
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      padding: 50px;
      @include background($most-light);

      :nth-child(2) {
        margin: 20px 0;
      }

      :nth-child(n) {
        width: 250px;
        height: 40px;
        border: solid 1px rgb(125, 125, 125);
        border-radius: 10px;
        box-sizing: border-box;
        background: #fff;
        @include boxShadow('none');
      }

      > input {
        padding: 0 10px;
      }

      > input:focus,
      button:hover {
        @include boxShadow(4px 4px 2px 1px rgba(0, 0, 0, 0.2));
      }

      > input::placeholder {
        color: #aaa;
      }

      > button {
        cursor: pointer;
      }
    }
  }
}
