.wrap {
  width: 100%;
  height: calc(100% - 100px);
  background: rgb(240, 240, 240);
  transition: background-color 0.5s linear;
  -moz-transition: background-color 0.5s linear;
  -webkit-transition: background-color 0.5s linear;
  -ms-transition: background-color 0.5s linear;
  -o-transition: background-color 0.5s linear;

  &.night {
    background-color: rgb(75, 75, 75);
    transition: background-color 0.5s linear;
    -moz-transition: background-color 0.5s linear;
    -webkit-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;

    .innerWrap {
      .box {
        background-color: rgb(25, 25, 25);
        transition: background-color 0.5s linear;
        -moz-transition: background-color 0.5s linear;
        -webkit-transition: background-color 0.5s linear;
        -ms-transition: background-color 0.5s linear;
        -o-transition: background-color 0.5s linear;

        :nth-child(n):focus {
          border: solid 1px rgb(125, 125, 125);
          box-shadow: 4px 4px 2px 1px rgba(255, 255, 255, 0.2);
          transition: box-shadow 0.5s ease-in-out;
        }
      }
    }
  }

  .innerWrap {
    padding: 10% 10%;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    .box {
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      padding: 50px;
      background: #fff;
      transition: background-color 0.5s linear;
      -moz-transition: background-color 0.5s linear;
      -webkit-transition: background-color 0.5s linear;
      -ms-transition: background-color 0.5s linear;
      -o-transition: background-color 0.5s linear;

      :nth-child(2) {
        margin: 20px 0;
      }

      :nth-child(n) {
        width: 250px;
        height: 40px;
        border: solid 1px rgb(125, 125, 125);
        border-radius: 10px;
        box-sizing: border-box;
        box-shadow: none;
        transition: box-shadow 0.5s ease-in-out;
        background: #fff;
      }

      :nth-child(n):focus {
        box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.5s ease-in-out;
      }

      > input {
        padding: 0 10px;
      }

      > input::placeholder {
        color: #aaa;
      }
    }
  }
}
